__pycache__
.eggs
guesty.egg-info
*.pyc
venv
.cache

# PyTest #
######################
.pytest_cache
# .github

# Lint #
/logs

# Production #
/build
/dist
/xumm_sdk_py.egg-info
.env
.pypirc
README.html

# virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json